/*  General class styling  */
.image-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.splash-title {
    font-size: $fontMedium;
    margin: 0 0 4vh 0;
    width: 50%;

    @media (max-width: 1000px) {
        font-size: $statTitle;
        width: 100%;
    }
}

.splash-org, .splash-year {
    font-size: $fontMini;
}

/*  Splash screen css  */
#splash {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    #splash-text {
        width: 85vw;
        margin: 8vh auto;
        color: white;
    }
}

image-carousel {
    display: block;
    margin: 10px auto;
    max-width: 1000px;
    /* width must be in vw sad face */
    //width: 60vw;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
  }

/*  Section CSS  */
#section-container {
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    margin: 0 auto;
    
    @media (max-width: 1000px) {
        padding: 0 6vw;
    }

    @media (min-width: 1000px) {
        padding: 0 8vw;
    }

    .section {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;

        .section-title {
            padding: 0 2vw;
            font-size: $fontMini;

            @media (max-width: 1000px) {
                margin-bottom: 0;
            }
        }

        .section-heading {
            @media (min-width: 1000px) {
                width: 40%;
                min-width: 200px;
                font-size: $fontMedium;
                margin: 0;
            }

            @media (max-width: 1000px) {
                width: 100%;
                margin: 2vh 0 3vh 0;
                font-size: $statTitle;
            }
        }

        .section-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 2vw;

            @media (min-width: 1000px) {
                margin: 2vh 0 15vh 0;
            }

            @media (max-width: 1000px) {
                margin-bottom: 5vh;
            }

            .section-text {
                white-space: pre-wrap;

                @media (min-width: 1000px) {
                    width: 50%; 
                    min-width: 300px;
                    font-size: $fontMini;
                    line-height: 2 * $fontMini;
                    margin: 0;
                }
    
                @media (max-width: 1000px) {
                    width: 100%;
                    font-size: $fontMini;
                    line-height: 2.25rem;
                }
            }
        }

        .section-image {
            border-radius: 20px;
            width: 100%;
            box-shadow: 1px 1px 4px rgba(255,92,92,0.25);
        }

        hr {
            width: 92%;
            border-top: none;
        }
    }
}

/*  Footer CSS  */
#footer {

    .footer-banner {
        color: $textColor;
        padding: 5% 10vw;

        .footer-text {
            max-width: 1000px;
            margin: 5% auto;

            .logo {
                @media (min-width: 1000px) {
                    width: 35%;
                }

                @media (max-width: 1000px) {
                    width: 50%;
                }
            }

            .logo-subtext {
                @media (min-width: 1000px) {
                    width: 60%;
                    font-size: $fontMedium;
                    margin: 3% 0;
                }

                @media (max-width: 1000px) {
                    width: 60%;
                    font-size: $fontSmall;
                    margin: 3% 0;
                    font-size: 2.563em;
                    margin: 4vh 0;
                }
            }
        }
    }

    .next-study {
        color: white;
        padding: 8vh 0;
        background-position: center top;

        h3 {
            margin: 0;
        }

        .next-study-container {
            width: 85vw;
            margin: 0 auto;

            .next-study-content {
                margin-top: 10%;
            }
        }       
    }
}



// color theming
#main {
    .color-path {
        fill: $featherColorPink;
    }

    #main-button .color-path {
        fill: black;
    }
}

#boac {
    .color-path {
        fill: $boacOrange;
    }

    #splash {
        background-color: #f3a18b;
    }

    .themed {
        background-color: $boacOrange;
    }

    feather-button::part(button):after {
        background-color: $boacOrange;
    }
    
    .section-title {
        color: $boacOrange;
    }

    hr {
        border-bottom: 1px solid $boacOrange;
    }
    
}

#varuna {
    .color-path {
        fill: $varunaGreen;
    }

    #splash, .themed {
        background-color: $varunaGreen;
    }

    feather-button::part(button):after {
        background-color: $varunaGreen;
    }

    .section-title {
        color: $varunaGreen;
    }

    hr {
        border-bottom: 1px solid $varunaGreen;
    }
}

#featherlabs {
    .color-path {
        fill: $labsBlack;
    }

    #splash, .themed {
        background-color: $labsBlack;
    }

    feather-button::part(button):after {
        background-color: $labsBlack;
    }

    .section-title {
        color: $labsBlack;
    }

    hr {
        border-bottom: 1px solid $labsBlack;
    }
}

feather-button::part(button):before {
    background-color: rgba(255,255,255,0.2);
}