// splash screen css
#splash {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    #splash-text {
        width: 85vw;
        margin: 8vh auto;
        color: white;
    }
}

.image-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

// not nested because these classes are also used in the footer
.splash-title {
    font-size: $fontMedium;
    margin: 0 0 4vh 0;
    width: 50%;
}

.splash-org, .splash-year {
    font-size: $fontMini;
}

#section-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 0 8vw;
    margin: 0 auto;

    .section {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;

        .section-title {
            padding: 0 2vw;
            font-size: $fontMini;
        }

        .section-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 2vw;

            .section-text {
                white-space: pre-wrap;
                line-height: 24px;
            }
        }

        .section-image {
            border-radius: 20px;
            width: 100%;
            box-shadow: 1px 1px 4px rgba(255,92,92,0.25);
        }

        hr {
            width: 92%;
            border-top: none;
        }
    }
}

// bigger screens
@media (min-width: 1000px) {

    .section-heading {
        width: 40%;
        min-width: 200px;
        font-size: $fontMedium;
        margin: 0;
    }

    .section-content {
        margin: 2vh 0 15vh 0;
    }

    .section-text {
        width: 50%; 
        min-width: 300px;
        font-size: $fontMini;
        margin: 0;
    }

    .logo-subtext{
        width: 60%;
        font-size: $fontMedium;
        margin: 3% 0;
    }
}

@media (max-width: 1000px) {

    .section-text {
        width: 100%;
        font-size: $fontMini;
    }

    .section-heading {
        width: 100%;
        margin: 2vh 0 3vh 0;
        font-size: $statTitle;
    }

    .section-content {
        margin-bottom: 5vh;
    }

    .section-title {
        margin-bottom: 0;
    }

    .logo-subtext{
        width: 60%;
        font-size: $fontSmall;
        margin: 3% 0;
    }
}

#footer {

    .footer-banner {
        color: $textColor;
        padding: 5% 10vw;

        .footer-text {
            max-width: 1000px;
            margin: 5% auto;
        }
    }

    .next-study {
        color: white;
        padding: 8vh 0;
        background-position: center top;

        h3 {
            margin: 0;
        }

        .next-study-container {
            width: 85vw;
            margin: 0 auto;

            .next-study-content {
                margin-top: 10%;
            }
        }       
    }
}

@media (min-width: 1000px) {
    .footer-text .logo {
        width: 35%;
    }
}

@media (max-width: 1000px) {
    .logo-subtext{
        font-size: 2.563em;
        margin: 4vh 0;
    }

    .footer-text .logo {
        width: 50%;
    }
}


// color theming
#main {
    .color-path {
        fill: $featherColorPink;
    }

    #main-button .color-path {
        fill: black;
    }
}

#boac {
    .color-path {
        fill: $boacOrange;
    }

    #splash {
        background-color: #f3a18b;
    }

    .themed {
        background-color: $boacOrange;
    }

    feather-button::part(button):after {
        background-color: $boacOrange;
    }
    
    .section-title {
        color: $boacOrange;
    }

    hr {
        border-bottom: 1px solid $boacOrange;
    }
    
}

#varuna {
    .color-path {
        fill: $varunaGreen;
    }

    #splash, .themed {
        background-color: $varunaGreen;
    }

    feather-button::part(button):after {
        background-color: $varunaGreen;
    }

    .section-title {
        color: $varunaGreen;
    }

    hr {
        border-bottom: 1px solid $varunaGreen;
    }
}

#featherlabs {
    .color-path {
        fill: $labsBlack;
    }

    #splash, .themed {
        background-color: $labsBlack;
    }

    feather-button::part(button):after {
        background-color: $labsBlack;
    }

    .section-title {
        color: $labsBlack;
    }

    hr {
        border-bottom: 1px solid $labsBlack;
    }
}

feather-button::part(button):before {
    background-color: rgba(255,255,255,0.2);
}