@import "variables";

#main {
    .color-path {
        fill: $featherColorPink;
    }

    #main-button .color-path {
        fill: black;
    }
}

#boac {
    .color-path {
        fill: $boacOrange;
    }
}

#varuna {
    .color-path {
        fill: $varunaGreen;
    }
}

down-button{
    display: block;

    &:hover {
        cursor: pointer;
    }
}