//sticky dashboard at the top of the page.
@import "variables";
dash-board {
    position: fixed;
    top: 20px;
    right: 8.3vw;
    left: 8.3vw;

    z-index: 3;

    height: 60px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    //logo
    #logo {
        position: inherit;
        top: inherit;
        left: inherit;
    }
    //buttons div
    #butt_container {
        position: inherit;
        right: inherit;

        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        button {
            width: clamp(160px, 180px, 12.5vw);
            height: 60px;

            margin-left: 20px;

            font-size: clamp(18px, 22px, 27px);

            border-radius: 30px;
            border: 1px solid rgba(255, 92, 92, 0.25);
            background: #fffcfc;

            // animation
            display: inline-block;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fffcfc;
                border-radius: 30px;
                z-index: -2;
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: #ffe3e6b6;
                transition: all 0.3s;
                z-index: -1;
                border-radius: 30px;
            }
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        button:hover {
            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            background: #ffffff;
            box-shadow: 0px 2px 4px rgba(255, 92, 92, 0.2), 0px 4px 5px 5px rgba(255, 92, 92, 0.05),
                0px 4px 4px rgba(255, 92, 92, 0.05);
            border-radius: 30px;
        }
        button#butt_contact_form {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            svg {
                width: 24px;
            }
        }
    }
}
