//shows the two main vectors in our approach
@import "variables";
.duo_blurb {
    /*margin-top: clamp(120px, 15vw, 240px);*/
    margin-bottom: 60px;

    display: grid;
    place-items: center;
    text-align: center;
    #blurb {
        width: clamp(300px, 50vw, 670px);
        @media (max-width: 700px) {
            width: 90%;
          }
      
          @media (min-width: 700px) {
            width: 65%;
          }
        font-size: 27px;
    }
    #speedbeauty {
        font-size: clamp(55px, 10vw, 83px);
        font-weight: 700;
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 1030px) {
    .duo_blurb {
        place-items: center left;
        text-align: left;
    }
}
.duo {
    // display: none;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    // width: 100vw;
    #duo_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        .left {
            background-color: $featherColorBlue;
            justify-content: flex-end;

        }
        .right {
            background-color: $featherColorPink;
            justify-content: flex-start;
        }
        .box {
            display: flex;
            flex-direction: row;
            @media (min-width: 1000px){
                padding: 130px;
            }

            @media (max-width: 1000px){
                padding: 130px 8vw;
            }
            
            .content_container {
                width: 100%;
                max-width: 600px;
                color: white;
                #duo_title {
                    font-size: clamp(55px, 10vw, 83px);
                    font-weight: 700;
                    margin-bottom: 60px;
                }
                #small_blurb_container {
                    // display: none;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    grid-gap: 50px 2rem;
                    font-size: 18px;
                    /*.small_blurb {
                        width: clamp(100px, 25%, 230px);
                        border-left: solid 1px white;
                    }*/

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}
