@import "variables";
footer {
    background-color: $featherColorPink;
    height: auto;
    min-height: 350px;
    // width: 100vw;

    display: grid;
    place-items: center;
    z-index: -2;
    #mail {
        color:white;
    }
}