.c {
    position: fixed;
    z-index: -4;
}

#particles {
    opacity: 35%;
}

#canvas-page-wrapper {
    min-width: 1vw;
    max-width: 2000px;
    margin: 0 auto;
}

#feather-canvas {
    position: fixed;
    z-index: -5;
}

