//show stats on why our approach is valid.
@import "variables";

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 10rem;
    margin: 0.34vw;
}
@media only screen and (min-width: 1280px) {
    #problem {
        position: sticky;
        position: -webkit-sticky;
        top: 18vh;
        height: 100vh;
        min-height: 700px;
        box-sizing: border-box;
        z-index: -1;
    }
}
.left {
    #comparison {
        margin-top: 40px;
        background-color: #ffe3e6;
        width: clamp(320px, 50vw, 570px);
        height: 270px;
        border-radius: 20px;
    }
}
#fact_container {
    margin-bottom: 240px;
}
.right {
    display: flex;
    flex-wrap: wrap;
    #fact {
        width: clamp(280px, 45vw, 560px);
        #number {
            margin-top: 20px;
            font-size: clamp(83px, 15vw, 164px);
            font-weight: 900;
            #lighten {
                font-weight: 400;
                color: $textColor;
            }
        }
        #explaination {
            font-size: 27px;
        }
    }
}
