// main splash page
@import "variables";

#screenCell #title {
    grid-area: e;
    #pitch {
        font-size: clamp(55px, 17vw, 83px);
        line-height: clamp(66.56, 83.5, 100.45px);
        margin-top: clamp(90px, 20vw, 180px);
    }
    h1#pitch{
        font-weight: 300;
    }
}
