// links to our posts
@import "variables";
.work {
    padding-top: 60px;

    .spacer {
        @media (min-width: 900px) {
            min-width: 50%;
        }

        @media (max-width: 900px) {
            min-width: $margins;
        }
    }

    #work_section {
        #work_head {
            display: flex;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));;
            @media only screen and (max-width: 900px) {
                justify-content: flex-start;
            }
            #work_title {
                font-size: 41px;
                font-weight: 700;
            }
            #arrows {
                opacity: 75%;
                place-self: center end;
                svg {
                    margin-left: 20px;
                }
            }
        }

        work-container {
            margin: 40px 0;
            padding: 10px 0;

            display: flex;
            flex-direction: row;

            width: 100%;
            
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            z-index: -2;

            -ms-overflow-style: none;  /* IE and Edge */

            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            &::-moz-scrollbar {
                display: none;
            }

            .use-case {
                display: block;
                text-decoration: none;
                margin-right: 30px;
                color: #333232;

                background-size: cover;
                background-position: center;

                overflow: hidden;

                @media (min-width: 800px) {
                    width: 450px;
                    height: 295px;
                }

                @media (max-width: 800px) {
                    width: 80vw;
                    height: 60vw;
                }

                border-radius: 20px;

                //box-shadow: inset 0 0 0 0 rgba(0,0,0,0.5);
                

                &:hover {
                    /*box-shadow: 0px 2px 4px rgba(255, 92, 92, 0.2), 0px 4px 5px 5px rgba(255, 92, 92, 0.05),
                         0px 4px 4px rgba(255, 92, 92, 0.05);*/
                    //box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.5);
                    .color-overlay {
                        background-color: rgba(0,0,0,0.5);
                    }
                    
                    .card-title {
                        opacity: 1;
                    }
                }
          
                flex-shrink: 0;
                scroll-snap-align: start;

                .color-overlay {
                    display: flex;
                    align-items: center;

                    height: 100%;
                    width: 100%;
                    
                    background-color: rgba(0,0,0,0);
                    transition: background-color 0.3s;
                }

                .card-title {
                    display: block;
                    width: 70%;

                    font-size: 27px;
                    font-weight: 300;
                    color: white;

                    margin: 0 auto;

                    text-align: center;
                    
                    opacity: 0;
                }

            }
        }
    }
}
