.rotate {
    animation: rot infinite 55s linear;
    transform-origin: center;
}
.two {
    animation: two infinite 60s cubic-bezier(0.475, 0.065, 0.525, 0.935);
    transform-origin: center;
    object-fit: cover;

}
@keyframes rot {
    0% {
        transform: rotate(0); //translate3D(-50%, -50%, 0);
        -o-transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg); //translate3D(-50%, -50%, 0);
        -o-transform: rotate(-360deg);
    }
}
@keyframes two {
    0.000% {
        transform: rotate(0);
        -o-transform: rotate(0);
        animation-timing-function: cubic-bezier(0.48, 0.206, 0.681, 0.333);
    }
    33.333% {
        transform: rotate(180deg);
        -o-transform: rotate(180deg);
        animation-timing-function: cubic-bezier(0.298, 0.264, 0.702, 0.736);
    }
    66.667% {
        transform: rotate(270deg);
        -o-transform: rotate(270deg);
        animation-timing-function: cubic-bezier(0.319, 0.667, 0.52, 0.794);
    }
    100% {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.319, 0.667, 0.52, 0.794);
    }
}
