// This file (and the template string below) is generated 
// from the card-component.mustache template, and thus changes to 
// this file should be made through the template

var caseStudiesTemplate = `
<template id="temp-work-container">
    <div class="spacer"></div>
    {{#page}}
    <a class="use-case" href="#{{filename}}" 
        style="background-image: url('./case-studies/assets/thumbnails/{{splash.splashImage.formats.medium.name}}.webp')">
        <span class="color-overlay">
            <span class="card-title">{{splash.title}}</span>
        </span>
    </a>
    {{/page}}
    <div class="spacer"></div>
</template>;`

class caseStudy extends HTMLElement{
    constructor() {
        super();
    }

    connectedCallback(){
        var parser = new DOMParser();

        // fetch html from string
        var cardHtml = parser.parseFromString(caseStudiesTemplate, 'text/html');
        var card = cardHtml.getElementById("temp-work-container");
        this.appendChild(card.content);
    }
}

customElements.define('work-container', caseStudy);